services:
  watchtower:
    image: containrrr/watchtower
    command:
      - "--label-enable"
      - "--interval"
      - "30"
      - "--rolling-restart"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  chrono-caddy:
    build:
      context: .
      dockerfile: ./infrastructure/Caddy/Dockerfile
    restart: unless-stopped
    # ports:
    #   - 8080:8000
    expose:
      - 8000
    volumes:
      - ./infrastructure/Caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - caddy_shared

  chrono:
    image: ghcr.io/the-apic/chrono:${GIT_COMMIT_HASH:-latest}
    # build:
    #   dockerfile: ./infrastructure/Chrono/Dockerfile
    #   context: .
    restart: unless-stopped
    volumes:
      - db:/app/db
      - logs:/app/logs
    env_file:
      - .env
    networks:
      - caddy_shared
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    deploy:
      mode: replicated
      replicas: 2

volumes:
  db:
  caddy_data:
  caddy_config:
  logs:


networks:
  caddy_shared:
    external: true
